
/* Master styles */

a {
  color: #ef3b39;
  text-decoration: underline;
}
button, .button { 
    background-color: #ef3b39;
    text-decoration: none;
    }
    
.menu .active > a {
    color: #FFFFFF;
    background: #ef3b39;
    }
    
.tipue_search_button
{
     width: 100px;
     height: 37px;
     border: 0;
     border-radius: 1px;
     background: #ef3b39 url('search.png') no-repeat center;
	outline: none;
}

/* primarni font naj bo Roboto, ostalo isto */

* {
    font-family: "Roboto", "Helvetica Neue", "Helvetica";
    
}


span.head {
    font-family: "Roboto Light", "Helvetica Neue", "Helvetica";
}



/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
